TheOneLibrary/TheOneLib/bin/Debug/net7.0/TheOneLib.deps.json
TheOneLibrary/TheOneLib/bin/Debug/net7.0/TheOneLib.dll
TheOneLibrary/TheOneLib/bin/Debug/net7.0/TheOneLib.pdb
TheOneLibrary/TheOneLib/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
TheOneLibrary/TheOneLib/obj/Debug/net7.0/TheOneLib.AssemblyInfo.cs
TheOneLibrary/TheOneLib/obj/Debug/net7.0/TheOneLib.AssemblyInfoInputs.cache
TheOneLibrary/TheOneLib/obj/Debug/net7.0/TheOneLib.assets.cache
TheOneLibrary/TheOneLib/obj/Debug/net7.0/TheOneLib.csproj.AssemblyReference.cache
TheOneLibrary/TheOneLib/obj/Debug/net7.0/TheOneLib.csproj.CoreCompileInputs.cache
TheOneLibrary/TheOneLib/obj/Debug/net7.0/TheOneLib.csproj.FileListAbsolute.txt
TheOneLibrary/TheOneLib/obj/Debug/net7.0/TheOneLib.dll
TheOneLibrary/TheOneLib/obj/Debug/net7.0/TheOneLib.GeneratedMSBuildEditorConfig.editorconfig
TheOneLibrary/TheOneLib/obj/Debug/net7.0/TheOneLib.pdb
TheOneLibrary/TheOneLib/obj/Debug/net7.0/ref/TheOneLib.dll
TheOneLibrary/TheOneLib/obj/Debug/net7.0/refint/TheOneLib.dll
TheOneLibrary/TheOneUsageExample/bin/Debug/net7.0/TheOneLib.dll
TheOneLibrary/TheOneUsageExample/bin/Debug/net7.0/TheOneLib.pdb
TheOneLibrary/TheOneUsageExample/bin/Debug/net7.0/TheOneUsageExample.deps.json
TheOneLibrary/TheOneUsageExample/bin/Debug/net7.0/TheOneUsageExample.dll
TheOneLibrary/TheOneUsageExample/bin/Debug/net7.0/TheOneUsageExample.exe
TheOneLibrary/TheOneUsageExample/bin/Debug/net7.0/TheOneUsageExample.pdb
TheOneLibrary/TheOneUsageExample/bin/Debug/net7.0/TheOneUsageExample.runtimeconfig.json
apikey.txt
TheOneLibrary/TheOneLib/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TheOneLibrary/TheOneLib/obj/Debug/net5.0/TheOneLib.AssemblyInfo.cs
TheOneLibrary/TheOneLib/obj/Debug/net5.0/TheOneLib.AssemblyInfoInputs.cache
TheOneLibrary/TheOneLib/obj/Debug/net5.0/TheOneLib.csproj.AssemblyReference.cache
TheOneLibrary/TheOneLib/obj/Debug/net5.0/TheOneLib.GeneratedMSBuildEditorConfig.editorconfig
TheOneLibrary/TheOneLib/bin/Debug/net5.0/TheOneLib.deps.json
TheOneLibrary/TheOneLib/bin/Debug/net5.0/TheOneLib.dll
TheOneLibrary/TheOneLib/bin/Debug/net5.0/TheOneLib.pdb
TheOneLibrary/TheOneUsageExample/bin/Debug/net5.0/TheOneLib.dll
TheOneLibrary/TheOneUsageExample/bin/Debug/net5.0/TheOneLib.pdb
TheOneLibrary/TheOneUsageExample/bin/Debug/net5.0/TheOneUsageExample.deps.json
TheOneLibrary/TheOneUsageExample/bin/Debug/net5.0/TheOneUsageExample.dll
TheOneLibrary/TheOneUsageExample/bin/Debug/net5.0/TheOneUsageExample.exe
TheOneLibrary/TheOneUsageExample/bin/Debug/net5.0/TheOneUsageExample.pdb
TheOneLibrary/TheOneUsageExample/bin/Debug/net5.0/TheOneUsageExample.runtimeconfig.dev.json
TheOneLibrary/TheOneUsageExample/bin/Debug/net5.0/TheOneUsageExample.runtimeconfig.json
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/apphost.exe
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/TheOneUsageExample.AssemblyInfo.cs
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/TheOneUsageExample.AssemblyInfoInputs.cache
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/TheOneUsageExample.assets.cache
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/TheOneUsageExample.csproj.AssemblyReference.cache
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/TheOneUsageExample.csproj.CopyComplete
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/TheOneUsageExample.csproj.CoreCompileInputs.cache
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/TheOneUsageExample.csproj.FileListAbsolute.txt
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/TheOneUsageExample.dll
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/TheOneUsageExample.GeneratedMSBuildEditorConfig.editorconfig
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/TheOneUsageExample.genruntimeconfig.cache
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/TheOneUsageExample.GlobalUsings.g.cs
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/TheOneUsageExample.pdb
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/ref/TheOneUsageExample.dll
TheOneLibrary/TheOneUsageExample/obj/Debug/net5.0/refint/TheOneUsageExample.dll
TheOneLibrary/TheOneLib/obj/Debug/net5.0/TheOneLib.assets.cache
TheOneLibrary/TheOneLib/obj/Debug/net5.0/TheOneLib.csproj.CoreCompileInputs.cache
TheOneLibrary/TheOneLib/obj/Debug/net5.0/TheOneLib.csproj.FileListAbsolute.txt
TheOneLibrary/TheOneLib/obj/Debug/net5.0/TheOneLib.dll
TheOneLibrary/TheOneLib/obj/Debug/net5.0/TheOneLib.pdb
TheOneLibrary/TheOneLib/obj/Debug/net5.0/ref/TheOneLib.dll
TheOneLibrary/TheOneLib/obj/Debug/net5.0/refint/TheOneLib.dll
